/*font*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');
/*Navbar*/

:root {
  --cvWhite: #fff;
  --cvGreen:rgb(56, 186, 89);
  --cvPink: rgb(255, 77, 110);
  --cvBlue: rgb(0, 25, 90);
  --cvOrange: rgb(255, 115, 77);
  --cvYellow: rgb(255, 197, 26);
  --cvDark: #212529;
}


body{
  font-family: "Lato" sans-serif;
}

logo{
  width: 16.25rem;
}

/*NavLinks*/

nav a.nav-link {
  font-weight: 300;
  initial-letter: 0.031rem;
  cursor: pointer
}

nav ul li{
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--cvOrange) !important;
  border-top:  0.188rem solid var(--cvDark);
}

.navbar-brand{
  max-width: 17.25rem;
  padding: 0 !important;
  height: 8rem;
} 

.navbar-light .navbar-brand {
  color: var(--cvWhite) !important;
  text-transform: uppercase;
  font-size: 16px;
}

.navbar-nav > li > a.active, .navbar-nav > li > a:focus{
  border-top: 0.188rem solid var(--cvWhite);
}

.navbar-nav > li > a:hover{
  border-top: 0.188rem solid var(--cvWhite);
}